<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <style>
     .pink {
color : #FF00FF;
}
.red{
color : red;
}
      .report_header_form {
        margin: 10px 0;
        text-align: center;
      }
      .report_header_form {
        margin: 10px 0;
        text-align: center;
      }
      #srno {
        text-align: center;
      }
      tbody,
      td,
      tfoot,
      th,
      thead,
      tr {
        border-width: inherit;
      }@media print {
        body * {
            visibility: hidden;
        }
        .div_res, .div_res * {
            visibility: visible;
        }
         .report_header_form{
            display: none;
        }
       table{
                font-size: 12px !important;
        }
        .div_res{
            margin-top : 90px;
        }
}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
         <div class="report_header_form">
            <input
              type="button"
              value="Print Report"
              class="btn btn-primary"
              onclick="window.print()"
              id="create_print"
            />
          </div>
          <div>
            <br />
            <div
              class="div_res"
              >
              <table
              cellspacing="0px"
              cellpadding="0px"
              width="100%"
              style="font-size: 14px"
            >
              <tbody>
                  {% if report.employee_no %}   
                <tr>
                  <th width="20%">Emp No</th>
                  <th width="50%">:&nbsp;{{report.employee_no}}</th>
                  {% endif %}
                 
                 {% if report.collection_date %}   
                  <th width="1%">Date</th>
                  <th width="30%">:&nbsp;{{report.collection_date}}</th>
                </tr>
                {% endif %}
                
                
                <tr>
                  {% if report.first_name %}   
                  <th width="20%">Patient's Name</th>
                  <th width="50%">:&nbsp;{{report.first_name}}</th>
                  {% endif %}
                  {% if report.birthdate %}   
                  <th width="1%">BirthDate</th>
                  <th width="30%">:&nbsp;{{report.birthdate}}</th>
                  {% endif %}
                </tr>
                
                
                <tr>
<!--                  <th width="20%">Age</th>-->
<!--                  <th>-->
<!--                    :&nbsp;&nbsp;62 &nbsp;Yrs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sex-->
<!--                    :&nbsp;&nbsp;Male-->
<!--                  </th>-->
                </tr>
                
                     
                <tr>
                    {% if report.list_company %}
                  <th width="20%">Company Name</th>
                  <th width="40%">:&nbsp;{{report.list_company}}</th>
                   {% endif %}
                  {% if report.age %}   
                  <th width="20%">Age</th>
                  <th width="40%">:&nbsp;{{report.age}} Year</th>
                     {% endif %}
                   
                </tr>
                
                 <tr>
                   
                 {% if report.ticket_no %}   
                  <th width="1%">Ticket Number</th>
                  <th width="30%">:&nbsp;{{report.ticket_no}}</th>
                  {% endif %}
                  {% if report.sex %}   
                  <th width="20%">Sex</th>
                  <th width="40%">:&nbsp;{{report.sex}}</th>
                    {% endif %}
                </tr>
                
                
              </tbody>
            </table>
              <hr style="border-width: thin; border-color: #333" border="1" />
              <div align="center">
                <h3><u>BIOCHEMISTRY REPORT</u></h3>
              </div>
              <center>
                <table
                  cellspacing="0px"
                  cellpadding="0px"
                  width="100%"
                  style="margin-top: 30px"
                >
                  <tbody>
                    <tr>
                      <th width="15%"><u>BLOOD TEST</u></th>
                      <th width="25%" style="text-align: left"></th>
                      <th width="20%" style="text-align: left">
                        <u>RESULT</u>
                      </th>
                      <th width="20%" style="text-align: left">
                        <u>NORMAL RANGE</u>
                      </th>
                      <th width="20%"><u>UNIT</u></th>
                    </tr>
                  </tbody>
                </table>
                <table
                  cellspacing="0px"
                  cellpadding="0px"
                  width="100%"
                  style="margin-top: 30px"
                >
                  <tbody>
                      {% if report.s_protein_total %} 
                    <tr style="font-size: 14px">
                      <td width="15%" align="left">S.Protien</td>
                      <td width="25%" align="left">-Total(Biuret)</td>
                      <td width="20%" align="left" class=" {% if report.s_protein_total < 6 %} pink {% elif report.s_protein_total > 8 %} red  {% endif %}">&nbsp;{{report.s_protein_total}}</td>
                      <td width="20%" align="left">&nbsp;6.0-8.0</td>
                      <td width="20%" align="left">&nbsp;mg/dl</td>
                    </tr>
                      {% endif %}
                      
                      {% if report.s_albumin_bcg %} 
                    <tr style="font-size: 14px">
                      <td width="15%" align="left"></td>
                      <td width="25%" align="left">-S. Albumin (BCG)</td>
                      <td width="20%" align="left" class="{% if report.s_albumin_bcg < 3.5 %} pink {% elif report.s_albumin_bcg > 4.8 %} red  {% endif %}">&nbsp;{{report.s_albumin_bcg}}&nbsp;</td>
                      <td width="20%" align="left">&nbsp;3.5-4.8</td>
                      <td width="20%" align="left">&nbsp;mg/dl</td>
                    </tr>
                       {% endif %}
                       
                    {% if report.s_globulin %} 
                    <tr style="font-size: 14px">
                      <td width="15%" align="left"></td>
                      <td width="25%" align="left">-S. Globulin</td>
                      <td width="20%" align="left" class="{% if report.s_globulin < 2.3 %} pink {% elif report.s_globulin > 3.5 %} red  {% endif %}">&nbsp;{{report.s_globulin}}&nbsp;</td>
                      <td width="20%" align="left">&nbsp;2.3-3.5</td>
                      <td width="20%" align="left">&nbsp;mg/dl</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.ag_ratio %} 
                    <tr style="font-size: 14px">
                      <td width="15%" align="left"></td>
                      <td width="25%" align="left">-A/G Ratio</td>
                      <td width="20%" align="left" class="{% if report.ag_ratio < 1 %} pink {% elif report.ag_ratio > 2.3 %} red  {% endif %}">&nbsp;{{report.ag_ratio}}</td>
                      <td width="20%" align="left">&nbsp;1.0-2.3</td>
                      <td width="20%" align="left">&nbsp;</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </center>
              <br /><br />
              <hr style="border-width: thin; border-color: #333" />
              <table width="100%">
                <tbody>
                  <tr>
                    <td align="center">
                      <font style="font-size: 13px"><b></b></font>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br /><br />
              <div style="text-align: center">
                <b
                  ><i><u>End of The Report</u></i></b
                >
              </div>
              <br />
              <div>
                <i
                  >Note: This report is not for legal implication and purpose,
                  confidential report only for company use.</i
                >
              </div>
              <br /><br /><br /><br />
              <table
                cellspacing="0px"
                cellpadding="0px"
                width="100%"
                style="margin-top: 30px; font-size: 20px"
              >
                <tbody>
                  <tr>
                    <th width="70%" align="center">
                      <img
                        src="https://quantum-techs.com/smhri/assets/uploads/images/signatures/rpl5.jpeg"
                        width="150px;"
                      />
                    </th>
                    <th width="70%" align="center">
                      <!-- <img src="https://quantum-techs.com/smhri/assets/uploads/images/signatures/mrk.png" width="150px;" /> -->
                    </th>
                  </tr>
                  <tr>
                    <th width="70%">
                      DR.R.I.PARMAR<br />(M.D.C.I.H)<br />Reg. No:- G - 8096
                    </th>
                    <th>
                      <!-- Dr. Mahesh R Kakadiya --><br /><!-- M.D (PATHOLOGY), --><br /><!-- Reg.No:- G - 23663 -->
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
