<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <style>
      .report_header_form {
        margin: 10px 0;
        text-align: center;
      }
      .report_header_form {
        margin: 10px 0;
        text-align: center;
      }
      #srno {
        text-align: center;
      }
      tbody,
      td,
      tfoot,
      th,
      thead,
      tr {
        border-width: inherit;
      }
      @media print {
        body * {
            visibility: hidden;
        }
        .div_res, .div_res * {
            visibility: visible;
        }
         .report_header_form{
            display: none;
        }
        table{
                font-size: 12px !important;
        }
        .div_res{
            margin-top : 90px;
        }

}
h3{
    font-size : 1.5rem;
}h4{
    font-size : 1.1rem;
}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
        <div class="report_header_form">
            <input
              type="button"
              value="Print Report"
              class="btn btn-primary"
              onclick="window.print()"
              id="create_print"
            />
          </div>
          <div>
            <div
              class="div_res"
                >
             <table
              cellspacing="0px"
              cellpadding="0px"
              width="100%"
              style="font-size: 12px"
            >
              <tbody>
                  {% if report.employee_no %}   
                <tr>
                  <th width="20%">Emp No</th>
                  <th width="50%">:&nbsp;{{report.employee_no}}</th>
                  {% endif %}
                 
                 {% if report.collection_date %}   
                  <th width="1%">Date</th>
                  <th width="30%">:&nbsp;{{report.collection_date}}</th>
                </tr>
                {% endif %}
                
                
                <tr>
                  {% if report.first_name %}   
                  <th width="20%">Patient's Name</th>
                  <th width="50%">:&nbsp;{{report.first_name}}</th>
                  {% endif %}
                  {% if report.birthdate %}   
                  <th width="1%">BirthDate</th>
                  <th width="30%">:&nbsp;{{report.birthdate}}</th>
                  {% endif %}
                </tr>
                
                
                <tr>
<!--                  <th width="20%">Age</th>-->
<!--                  <th>-->
<!--                    :&nbsp;&nbsp;62 &nbsp;Yrs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sex-->
<!--                    :&nbsp;&nbsp;Male-->
<!--                  </th>-->
                </tr>
                
                     
                <tr>
                    {% if report.list_company %}
                  <th width="20%">Company Name</th>
                  <th width="40%">:&nbsp;{{report.list_company}}</th>
                   {% endif %}
                  {% if report.age %}   
                  <th width="20%">Age</th>
                  <th width="40%">:&nbsp;{{report.age}} Year</th>
                     {% endif %}
                   
                </tr>
                
                 <tr>
                   
                 {% if report.ticket_no %}   
                  <th width="1%">Ticket Number</th>
                  <th width="30%">:&nbsp;{{report.ticket_no}}</th>
                  {% endif %}
                  {% if report.sex %}   
                  <th width="20%">Sex</th>
                  <th width="40%">:&nbsp;{{report.sex}}</th>
                    {% endif %}
                </tr>
                
                
              </tbody>
            </table>
              <hr style="border-width: thin; border-color: #333" />
              <div align="center">
                <h3><u>STOOL REPORT</u></h3>
              </div>
              <div align="center">
                <h4>
                  <b><u>PHYSICAL EXAMINATION</u></b>
                </h4>
              </div>
              <center>
                <table
                  cellspacing="0px"
                  cellpadding="0px"
                  width="100%"
                >
                  <tbody>
                    {% if report.stool_color %}  
                    <tr style="font-size: 14px">
                      <td width="20%">Color</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_color}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_blood %}  
                    <tr style="font-size: 14px">
                      <td width="20%">Blood</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_blood}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_mucus %}  
                    <tr style="font-size: 14px">
                      <td width="20%">Mucus</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_mucus}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_adults_warm %}
                    <tr style="font-size: 14px">
                      <td width="20%">Adults Warm</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_adults_warm}}</td>
                    </tr>
                     {% endif %}
                    
                    {% if report.stool_parasites %}
                    <tr style="font-size: 14px">
                      <td width="20%">Parasites</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_parasites}}</td>
                    </tr>
                    {% endif %}
                    
                     {% if report.stool_pus %}
                    <tr style="font-size: 14px">
                      <td width="20%">Pus</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_pus}}</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </center>
              <div align="center">
                <h4>
                  <b><u>CHEMICAL EXAMINATION</u></b>
                </h4>
              </div>
              <center>
                <table
                  cellspacing="0px"
                  cellpadding="0px"
                  width="100%"
                >
                  <tbody>
                    {% if report.stool_ph %}
                    <tr style="font-size: 14px">
                      <td width="20%">Ph</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_ph}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_occult_blood %}
                    <tr style="font-size: 14px">
                      <td width="20%">Occult Blood</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_occult_blood}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_reducing_substances %}
                    <tr style="font-size: 14px">
                      <td width="20%">Reducing Substances</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_reducing_substances}}</td>
                    </tr>
                    {% endif %}
                    
                  </tbody>
                </table>
              </center>
              <div align="center">
                <h4>
                  <b><u>MICROSCOPIC EXAMINATION</u></b>
                </h4>
              </div>
              <center>
                <table
                  cellspacing="0px"
                  cellpadding="0px"
                  width="100%"
                >
                  <tbody>
                      {% if report.stool_rbcs %}
                    <tr style="font-size: 14px">
                      <td width="20%">R.B.C.s</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_rbcs}}/hpf</td>
                    </tr>
                     {% endif %}
                     
                    {% if report.stool_puscells %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Pus cells</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_puscells}}/hpf</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_fat_globules %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Fat Globules</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_fat_globules}}/hpf</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_macrophages %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Macrophages</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_macrophages}}/hpf</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_epithelial_cell %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Epithelial cell</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_epithelial_cell}}/hpf</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_muscle_fibers %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Muscle fibers</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_muscle_fibers}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_vegetable_cell %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Vegetable cell</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_vegetable_cell}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_bacteria %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Bacteria</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_bacteria}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_cyst %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Cyst</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_cyst}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_ova %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Ova</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_ova}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_trophozoites %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Trophozoites</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_trophozoites}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_larva %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Larva</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_larva}}</td>
                    </tr>
                    {% endif %}
                    
                    {% if report.stool_yeast_cells %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Yeast Cells</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_yeast_cells}}</td>
                    </tr>
                     {% endif %}
                    
                    {% if report.stool_starch_granules %} 
                    <tr style="font-size: 14px">
                      <td width="20%">Starch Granules</td>
                      <td style="text-align: left" width="80%">:&nbsp;{{report.stool_starch_granules}}</td>
                    </tr>
                     {% endif %}
                  </tbody>
                </table>
              </center>
              <hr style="border-width: thin; border-color: #333" />
              <table width="100%">
                <tbody>
                  <tr>
                    <td align="center">
                      <font style="font-size: 13px"><b></b></font>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div style="text-align: center">
                <b
                  ><i><u>End of The Report</u></i></b
                >
              </div>
              <br />
              <div>
                <i
                  >Note: This report is not for legal implication and purpose,
                  confidential report only for company use.</i
                >
              </div>
              <!--<table-->
              <!--  cellspacing="0px"-->
              <!--  cellpadding="0px"-->
              <!--  width="100%"-->
              <!--  style="font-size: 20px"-->
              <!--  <tbody>-->
              <!--    <tr>-->
              <!--      <th style="padding-left: 72%">-->
                      <!-- <img src="https://quantum-techs.com/smhri/assets/uploads/images/signatures/mrk.png" width="170px;" /> -->
              <!--      </th>-->
              <!--    </tr>-->
              <!--    <tr>-->
              <!--      <th style="padding-left: 70%">-->
                      <!-- Dr. Mahesh R Kakadiya --><!-- M.D (PATHOLOGY), --><!-- Reg.No:- G - 23663 -->
              <!--      </th>-->
              <!--    </tr>-->
              <!--  </tbody>-->
              <!--</table>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
