<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <style>
     .pink {
color : #FF00FF;
}
.red{
color : red;
}
      .report_header_form {
        margin: 10px 0;
        text-align: center;
      }
      .report_header_form {
        margin: 10px 0;
        text-align: center;
      }
      #srno {
        text-align: center;
      }
      tbody,
      td,
      tfoot,
      th,
      thead,
      tr {
        border-width: inherit;
      }
      @media print {
        body * {
            visibility: hidden;
        }
        .div_res, .div_res * {
            visibility: visible;
        }
         .report_header_form{
            display: none;
        }
        table{
                font-size: 12px !important;
        }
        .div_res{
            margin-top : 90px;
        }
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
         <div class="report_header_form">
            <input
              type="button"
              value="Print Report"
              class="btn btn-primary"
              onclick="window.print()"
              id="create_print"
            />
          </div>
          <div
            class="div_res"
          >
           <table
              cellspacing="0px"
              cellpadding="0px"
              width="100%"
              style="font-size: 14px"
            >
              <tbody>
                  {% if report.employee_no %}   
                <tr>
                  <th width="20%">Emp No</th>
                  <th width="50%">:&nbsp;{{report.employee_no}}</th>
                  {% endif %}
                 
                 {% if report.collection_date %}   
                  <th width="1%">Date</th>
                  <th width="30%">:&nbsp;{{report.collection_date}}</th>
                </tr>
                {% endif %}
                
                
                <tr>
                  {% if report.first_name %}   
                  <th width="20%">Patient's Name</th>
                  <th width="50%">:&nbsp;{{report.first_name}}</th>
                  {% endif %}
                  {% if report.birthdate %}   
                  <th width="1%">BirthDate</th>
                  <th width="30%">:&nbsp;{{report.birthdate}}</th>
                  {% endif %}
                </tr>
                
                
                <tr>
<!--                  <th width="20%">Age</th>-->
<!--                  <th>-->
<!--                    :&nbsp;&nbsp;62 &nbsp;Yrs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sex-->
<!--                    :&nbsp;&nbsp;Male-->
<!--                  </th>-->
                </tr>
                
                     
                <tr>
                    {% if report.list_company %}
                  <th width="20%">Company Name</th>
                  <th width="40%">:&nbsp;{{report.list_company}}</th>
                   {% endif %}
                  {% if report.age %}   
                  <th width="20%">Age</th>
                  <th width="40%">:&nbsp;{{report.age}} Year</th>
                     {% endif %}
                   
                </tr>
                
                 <tr>
                   
                 {% if report.ticket_no %}   
                  <th width="1%">Ticket Number</th>
                  <th width="30%">:&nbsp;{{report.ticket_no}}</th>
                  {% endif %}
                  {% if report.sex %}   
                  <th width="20%">Sex</th>
                  <th width="40%">:&nbsp;{{report.sex}}</th>
                    {% endif %}
                </tr>
                
                
              </tbody>
            </table>
            <hr style="border-width: thin; border-color: #333" />
            <div align="center">
              <h3>
                <b><u>SERUM VITAMIN B-12 LEVEL</u></b>
              </h3>
            </div>
            <center>
              <table
                cellspacing="0px"
                cellpadding="0px"
                width="100%"
                style="margin-top: 30px"
              >
                <tbody>
                  <tr>
                    <th width="40%"><u>TEST</u></th>
                    <th width="14%" style="text-align: left"><u>RESULT</u></th>
                    <th width="30%"><u>REFERENCE RANGE</u></th>
                    <th width="15%"><u>UNIT</u></th>
                  </tr>
                </tbody>
              </table>
              <table
                cellspacing="0px"
                cellpadding="0px"
                width="100%"
                style="margin-top: 30px"
              >
                <tbody>
                  {% if report.vitaminb12 %}       
                  <tr style="font-size: 14px">
                    <th width="41%">VITAMIN B-12 (Cobalamine)</th>
                <td style="text-align: left" width="14%" class=" {% if report.vitaminb12 < 211 %} pink {% elif report.vitaminb12 > 911 %} red  {% endif %}">
                      <b>{{report.vitaminb12}}</b>&nbsp;&nbsp;
                    </td>
                    <td style="text-align: left" width="30%">211-911</td>
                    <td>pg/ml</td>
                  </tr>
                   {% endif %}
                  <tr style="line-height: 20px; font-size: 16px">
                    <td>(CHEMILUMINESCENCE METHOD)</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: left" width="30%"></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </center>
            <br /><br />
            <div
              style="font-family: Times New Roman; padding: 0px; margin: 0px"
            >
              <i class="icon-book"></i>
              <p
                style="
                  font-family: Times New Roman;
                  font-size: 14px;
                  padding: 0px;
                  margin: 0px;
                "
              >
                <b>*</b>&nbsp;Food sources for Vitamin B12 (Cobalamine) are
                Meat, fish, poultry, eggs and dairy products (milk, cheeses and
                yogurt).<br />
              </p>
              <p
                style="
                  font-family: Times New Roman;
                  font-size: 14px;
                  padding: 0px;
                  margin: 0px;
                "
              >
                <b>*</b>&nbsp;Vegans (vegetarian people) are at risk of a
                Vitamin B12 (Cobalamine) deficiency.
              </p>
              <p
                style="
                  font-family: Times New Roman;
                  font-size: 14px;
                  padding: 0px;
                  margin: 0px;
                "
              >
                <b>*</b>&nbsp;Vitamin B12 (Cobalamine) level less than 211
                pg/ml, Elevated serum or urinary methylmalonate and raised
                plasma homocystein indicate that the &nbsp;&nbsp;&nbsp;Vitamin
                B12 (Cobalamine) is low.
              </p>
              <p
                style="
                  font-family: Times New Roman;
                  font-size: 14px;
                  padding: 0px;
                  margin: 0px;
                "
              >
                <b>*</b>&nbsp;Vitamin B12 (Cobalamine) deficiency causes
                megaloblastic anemia in which the erythrocytes fail to mature
                properly.
              </p>
              <p
                style="
                  font-family: Times New Roman;
                  font-size: 14px;
                  padding: 0px;
                  margin: 0px;
                "
              >
                <b>*</b>&nbsp;Vitamin B12 (Cobalamine) deficiency also causes
                demyelination of the large nerve fibres of the spinal cord,
                especially the posterior and lateral columns
                &nbsp;&nbsp;&nbsp;which causes loss of sansation and motor power
                in the lower limbs.
              </p>
            </div>
            <div>
                <hr style="border-width: thin; border-color: #333" border="1" />
            </div>
            <table width="100%">
              <tbody>
                <tr>
                  <td align="center">
                    <font style="font-size: 13px"><b></b></font>
                  </td>
                </tr>
              </tbody>
            </table>
            <br /><br /><br /><br />
            <div style="text-align: center">
              <b
                ><i><u>End of The Report</u></i></b
              >
            </div>
            <br />
            <div>
              <i
                >Note: This report is not for legal implication and purpose,
                confidential report only for company use.</i
              >
            </div>
            <br />
            <table
              cellspacing="0px"
              cellpadding="0px"
              width="100%"
              style="margin-top: 30px; font-size: 20px"
            >
              <tbody>
                <tr>
                  <th style="padding-left: 72%">
                    <!-- <img src="https://quantum-techs.com/smhri/assets/uploads/images/signatures/mrk.png" width="170px;" /> -->
                  </th>
                </tr>
                <tr>
                  <th style="padding-left: 70%">
                    <!-- Dr. Mahesh R Kakadiya --><br /><!-- M.D (PATHOLOGY), --><br /><!-- Reg.No:- G - 23663 -->
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
